body {
  height: 100vh;
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
}

/* HOME CSS */
.home-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.footer {
  color: white;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

/*CARDS*/
.btn:hover {
  z-index: 10 !important;
  background-color: rgba(255, 166, 0, 0.479) !important;
}

.contact-info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
